*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Passion+One:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,647;1,647&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


:root{
  --azul_ocuro: #21243d;
  --piel:#ffd17e;
  --gris_oscuro:#111111;
  --blanco:#fff;
}

/* body */
.sushi{
    /* font-family: "Work Sans", sans-serif; */
      font-family: "Raleway", serif;/* fuente para la letra */
}
/* header */
.encabezado{
 background-color: var(--azul_ocuro);  /*Cambia el color de fondo.*/
 width: 100%; /* Hace que el encabezado ocupe todo el ancho de la pantalla.*/
 display: flex; /*Organiza los elementos en fila..*/
 justify-content: space-between; /*Coloca los elementos en los extremos del contenedor.*/
 align-items: center; /*Alinea los elementos al centro verticalmente.*/
 padding: 0 4vw ; /*Agrega espacio interno en los lados.*/
}

.encabezado__logo{
   height: 4.2vw; /*Define qué tan alta es la sección.*/
   padding: -1.6vw;   /*Ajusta los espacios alrededor o dentro de los elementos.*/
}
.encabezado__medio{
  gap:4vw; /* Deja espacio entre elementos.*/
  display: flex; /*Organiza los elementos dentro del botón de forma ordenada.*/
}
.encabezado__items{
  text-decoration: none; /*Quita subrayados en el texto.*/
  color: var(--blanco); /*Cambia el color del texto.*/
  font-size: 1.2rem; /*Cambia el tamaño del texto.*/
}
.icono__search{
  color: var(--blanco);  /*Cambia el color del texto.*/
  font-size: 1.9vw; /*Cambia el tamaño del texto.*/
}
/* primera seccion */
.presentacion__content{
    background-image: url(recursos/Imagen_de_fondo_sushi\ \(1\).jpeg);
    background-size: cover; /*Hace que la imagen cubra todo el área sin deformarse.*/
     background-position: center;/*Centra la imagen en el fondo.*/
    height: 50vw; /*Define qué tan alta es la sección.*/
    width: 100%; /* Hace que ocupe todo el ancho de la pantalla.*/
    padding-top: 5vw; /*Deja espacio arriba de los elementos.*/
}
.presentacion__texto{
  width: 50vw; /*Define qué tan anchos son los elementos.*/
  padding: 0 2vw;  /*Ajusta los espacios alrededor o dentro de los elementos.*/
}
.presentacion__titulo{
  color: var(--blanco); /*Cambia el color del texto.*/
  font-size: 8vw; /*Cambia el tamaño del texto.*/
  margin-bottom: -2vw; /*Deja espacio debajo.*/
  padding: 4vw; /*Ajusta los espacios alrededor o dentro de los elementos.*/
}
.presentacion__parrafo{
  color: var(--blanco);  /*Cambia el color del texto.*/
  font-size: 1.5vw; /*Cambia el tamaño del texto.*/
  margin-bottom: 3vw; /*Deja espacio debajo.*/
  padding: 2vw;  /*Ajusta los espacios alrededor o dentro de los elementos.*/
}

.boton__texto{
    display: flex; /*Organiza los elementos en fila..*/
    background-color: var(--azul_ocuro); /*Cambia el color de fondo.*/
    font-size: 1.3vw; /*Cambia el tamaño del texto.*/
    color: var(--blanco);  /*Cambia el color del texto.*/
    height: 3vw; /*Define qué tan alta es la sección.*/
    border-radius: 8vw; /*Redondea los bordes, creando círculos o esquinas suaves.*/
    width: 17vw; /*Define qué tan anchos son los elementos.*/
    align-items: center;  /*Alinea los elementos al centro verticalmente.*/
    justify-content: center; /* Centrar el contenedor */
    text-transform: uppercase;  /*transforma el texto en mayúsculas*/
    text-align: center; /* Centrar el texto de los elementos hijos */
    font-weight: bold; /* Hace el texto más grueso.*/
}
/* segunda seccion */
.menu__container{
  position: relative;
  background-color: var(--azul_ocuro); /*Cambia el color de fondo.*/
  width: 100%; /*ocupa todo el ancho de la pantalla*/
  height: 50vw; /*Define qué tan alta es la sección.*/
  align-items: center;  /*Alinea los elementos al centro verticalmente.*/
}


/* figuras */
.circulos__amarillos{
   position: absolute;
   top: 2%;
   left: 20%;
  width: 10vw;
   
}
.triangulo__amarillo{
   position: absolute;
   top: 18%;
   left: 5%;
   width: 5vw;
}
.circulo__amarillo{
  position: absolute;
  top: 70%;
  left: -4%;
    width: 10vw;
}
.cir__amare{
  position: absolute;
  top: 1%;
  left: 91%;
  width: 8vw;

}
.puntitos__amarillos{
  position: absolute;
  top: 50%;
  right: -3%;
  transform: rotate(90deg);
  width: 10vw;
}
.tri__amarillo{
  position: absolute;
  top: 90%;
  right: 0%;
    width: 5vw;
}

.menu__texto{
 text-align: center; /* Centrar el texto de los elementos hijos */
  padding: 0 6vw;  /*Ajusta los espacios alrededor o dentro de los elementos.*/
  margin-bottom: 2vw; /*Deja espacio debajo.*/
  padding-top: 3vw; /*Deja espacio arriba de los elementos.*/
 
}

.menu__titulo{
  color: var(--blanco);  /*Cambia el color del texto.*/
  font-size: 4vw; /*Cambia el tamaño del texto.*/
  margin-bottom: 2vw; /*Deja espacio debajo.*/
  padding: 0 10vw;  /*Ajusta los espacios alrededor o dentro de los elementos.*/
}

.menu__parrafo{
  color: var(--blanco);  /*Cambia el color del texto.*/
  margin-bottom: 5vw; /*Deja espacio debajo.*/
  font-size: 1.5vw; /*Cambia el tamaño del texto.*/
  padding: 0 14vw;  /*Ajusta los espacios alrededor o dentro de los elementos.*/
}

/* contenedor principal */
.cards__container{
  display: flex; /* Activa flexbox */
  justify-content: center; /* Centra las cartas horizontalmente */
}
.cards__content {
  width: 25%; /*ocupa el ancho de la pantalla*/
}

.card__menu {
  display: flex; /* Activar flexbox */
  flex-direction: column; /* Colocar los elementos en columna */
  align-items: center; /* Centrar horizontalmente */
  justify-content: center; /* Centrar verticalmente (si es necesario) */
  text-align: center; /* Centrar el texto de los elementos hijos */
}

.card__foto {
  border-radius: 50%; /*Redondea los bordes, creando círculos o esquinas suaves.*/
  width: 18vw; /*Define qué tan anchos son los elementos.*/
  padding: 2vw; /*Ajusta los espacios alrededor o dentro de los elementos.*/
}

.card__titulo {
  color: var(--blanco);  /*Cambia el color del texto.*/
  margin-bottom: 2vw; /*Deja espacio debajo.*/
  padding: 0 2vw;  /*Ajusta los espacios alrededor o dentro de los elementos.*/
}

.card__parrafo {
  color: var(--blanco);  /*Cambia el color del texto.*/
  padding: 0 2vw;  /*Ajusta los espacios alrededor o dentro de los elementos.*/
}
/* tercera sección */

.promocion__container{
  position: relative;
  background-color: var(--piel); /*Cambia el color de fondo.*/
  width: 100%; /*ocupa todo el ancho de la pantalla*/
  height: 50vw; /*Define qué tan alta es la sección.*/
  padding-top: 10vw; /*Deja espacio arriba de los elementos.*/
  display: flex; /* Activar flexbox */
  justify-content: center; /* Centrar el contenedor */
}
/* figuras */
.circulo__azul{
  position: absolute;
  top: 11%;
  width: 12vw;
  left: 10%;

}
.puntos__azules{
  position: absolute;
  top: 73%;
  left: 2%;
  width: 5vw;
}
.puntitos__azul{
  position: absolute;
  top: 2%;
  right: 2%;
  width: 5vw;
}
.triangulo__azul{
  position: absolute;
  top: 10%;
  right: 42%;
  width: 5vw;
}
.esfera__azul{
  position: absolute;
  top: 70%;
  right: 0%;
    width: 9vw;
}
.promocion__content{
  padding: 0 12vw;  /*Ajusta los espacios alrededor o dentro de los elementos.*/
}
.promocion__foto{
  position: relative;
  border-radius: 50%; /*Redondea los bordes, creando círculos o esquinas suaves.*/
  width: 25vw; /*Define qué tan anchos son los elementos.*/
  height: 25vw; /*Define qué tan alta es la sección.*/
}

.promo__texto{
  width: 47vw; /*Define qué tan anchos son los elementos.*/
}
.promo__titulo--azul{
  color: var(--azul_ocuro);  /*Cambia el color del texto.*/
  font-size: 4vw; /*Cambia el tamaño del texto.*/
  margin-bottom: 2vw; /*Deja espacio debajo.*/

}
.promo__parrafo--azul{
  color: var(--azul_ocuro);  /*Cambia el color del texto.*/
  font-size: 1.6vw; /*Cambia el tamaño del texto.*/
  margin-bottom: 3vw; /*Deja espacio debajo.*/
  padding: 1vw;  /*Ajusta los espacios alrededor o dentro de los elementos.*/
}

.boton__promo{
    display: flex; /*Organiza los elementos en fila..*/
    background-color: var(--azul_ocuro); /*Cambia el color de fondo.*/
    font-size: 1.3vw; /*Cambia el tamaño del texto.*/
    color: var(--blanco);  /*Cambia el color del texto.*/
    height: 3vw; /*Define qué tan alta es la sección.*/
    border-radius: 8vw; /*Redondea los bordes, creando círculos o esquinas suaves.*/
    width: 17vw; /*Define qué tan anchos son los elementos.*/
    align-items: center;  /*Alinea los elementos al centro verticalmente.*/
    justify-content: center; /* Centrar el contenedor */
    text-transform: uppercase;  /*transforma el texto en mayúsculas*/
    text-align: center; /* Centrar el texto de los elementos hijos */
    font-weight: bold; /* Hace el texto más grueso.*/
}

/* cuarta sección  */
.estadisticas__container{
  position: relative;
  background-color: var(--azul_ocuro); /*Cambia el color de fondo.*/
  width: 100%;/*ocupa todo el ancho de la pantalla*/
  height: 50vw; /*Define qué tan alta es la sección.*/
  align-items: center;  /*Alinea los elementos al centro verticalmente.*/
}
.puntos__amarillos{
  position: absolute;
  top: 7%;
  left: 5%;
  width: 10vw;
}
.trian__amarillo{
  position: absolute;
  top: 30%;
  left: 6%;
  width: 5vw;
}
.circle__ama{
  position: absolute;
  top: 87%;
  left: 25%;
   width: 10vw;
}
.points__amarillos{
  position: absolute;
  top: 85%;
  left: 60%;
  width: 10vw;
}
.triangu__ama{
  position: absolute;
  top: 83%;
  left: 90%;
  width: 5vw;
}
.circu__ama{
  position: absolute;
  top: 9%;
  left: 85%;
   width: 10vw;
}
.estadisticas__texto{
 text-align: center; /* Centrar el texto de los elementos hijos */
  padding: 0 6vw;  /*Ajusta los espacios alrededor o dentro de los elementos.*/
  margin-bottom: 1vw; /*Deja espacio debajo.*/
  padding-top: 4vw; /*Deja espacio arriba de los elementos.*/
}

.estadisticas__titulo{
  color: var(--blanco);  /*Cambia el color del texto.*/
  font-size: 4vw; /*Cambia el tamaño del texto.*/
  font-weight: bold; /* Hace el texto más grueso.*/
  margin-bottom: 2vw; /*Deja espacio debajo.*/
  padding: 0 10vw;  /*Ajusta los espacios alrededor o dentro de los elementos.*/
  
}

.estadisticas__parrafo{
  color: var(--blanco);  /*Cambia el color del texto.*/
  margin-bottom: 5vw; /*Deja espacio debajo.*/
  font-size: 1.5vw; /*Cambia el tamaño del texto.*/
  padding: 0 14vw;  /*Ajusta los espacios alrededor o dentro de los elementos.*/
}

/* tarjetas */
.tarjetas__container{
 background-color: var(--azul_ocuro); /*Cambia el color de fondo.*/
   width: 78vw; /*ocupa el ancho de la pantalla*/
  height: 30vw; /*Define qué tan alta es la sección.*/
  display: flex; /* Activar flexbox */
  justify-content: center; /* Centrar el contenedor */
  align-items: center; /*Alinea los elementos al centro verticalmente.*/
  text-align: center; /* Centrar el texto de los elementos hijos */
  gap: 11vw; /*Deja espacio entre las tarjetas.*/
  margin-left: 10vw; /* espacio a la izquierda.*/
  margin-top: -5vw;  /*Deja espacio arriba.*/
 
}
.tarjeta__store{
  background-color: var(--azul_ocuro); /*Cambia el color de fondo.*/
  width: 17vw; /*ocupa el ancho de la pantalla*/
  height: 17vw; /*Define qué tan alta es la sección.*/
  border: 4px solid var(--blanco); /*Agrega un borde alrededor de las tarjetas.*/
  border-radius: 50%; /*Redondea los bordes, creando círculos o esquinas suaves.*/
  text-transform: uppercase; /*transforma el texto en mayúsculas*/
}
.tarjeta__number{
  font-size: 5vw; /*Cambia el tamaño del texto.*/
  font-weight: bold; /* Hace el texto más grueso.*/
  margin: 0;  /*Ajusta los espacios alrededor o dentro de los elementos.*/
  color: var(--blanco);  /*Cambia el color del texto.*/
  padding-top: 3.5vw ; /*Deja espacio arriba de los elementos.*/
}
.tarjeta__texto{
  font-size: 3vw; /*Cambia el tamaño del texto.*/
  margin: 0;  /*Ajusta los espacios alrededor o dentro de los elementos.*/
  color: var(--blanco);  /*Cambia el color del texto.*/
}

/* quinta sección (componente) */
.promotion__container{
  position: relative;
  background-color: var(--piel); /*Cambia el color de fondo.*/
  width: 100%; /*ocupa todo el ancho de la pantalla*/
  height: 50vw; /*Define qué tan alta es la sección.*/
  padding-top: 10vw; /*Deja espacio arriba de los elementos.*/
  display: flex; /* Activar flexbox */
  justify-content: center; /* Centrar el contenedor */
  gap: 7vw; /* Deja espacio entre elementos.*/
}
/* figuras */
.tri__azul{
  position: absolute;
  top: 11%;
  left: 10%;
  width: 5vw;

}
.points__azules{
  position: absolute;
  top: 0% ; 
  right: 56%;
  width: 5vw;
  transform: rotate(90deg); 
}
.circle__azul{
  position: absolute;
  top: 10%;
  right: 5%;
  width: 12vw;
}
.punti__azules{
  position: absolute;
  top: 63% ; 
  right: 3%;
  width: 5vw;
}
.esfera__blue{
  position: absolute;
  top: 68%;
  left: 35%;
  width: 12vw;

}

.prom__texto{
  width: 47vw; /*Define qué tan anchos son los elementos.*/
}
.prom__titulo--azul{
  color: var(--azul_ocuro);  /*Cambia el color del texto.*/
  font-size: 4vw; /*Cambia el tamaño del texto.*/
  margin-bottom: 2vw; /*Deja espacio debajo.*/

}
.prom__parrafo--azul{
  color: var(--azul_ocuro);  /*Cambia el color del texto.*/
  font-size: 1.6vw; /*Cambia el tamaño del texto.*/
  margin-bottom: 3vw; /*Deja espacio debajo.*/
  padding: 1vw;  /*Ajusta los espacios alrededor o dentro de los elementos.*/
}

.boton__prom{
    display: flex; /*Organiza los elementos en fila..*/
    background-color: var(--azul_ocuro); /*Cambia el color de fondo.*/
    font-size: 1.3vw; /*Cambia el tamaño del texto.*/
    color: var(--blanco);  /*Cambia el color del texto.*/
    height: 3vw; /*Define qué tan alta es la sección.*/
    border-radius: 8vw; /*Redondea los bordes, creando círculos o esquinas suaves.*/
    width: 17vw; /*Define qué tan anchos son los elementos.*/
    align-items: center;  /*Alinea los elementos al centro verticalmente.*/
    justify-content: center; /* Centrar el contenedor */
    text-transform: uppercase;  /*transforma el texto en mayúsculas*/
    text-align: center; /* Centrar el texto de los elementos hijos */
    font-weight: bold; /* Hace el texto más grueso.*/
}
.promotion__content{
  padding: -1 12vw;  /*Ajusta los espacios alrededor o dentro de los elementos.*/
}
.promotion__foto{
  position: relative;
  border-radius: 50%; /*Redondea los bordes, creando círculos o esquinas suaves.*/
  width: 25vw; /*Define qué tan anchos son los elementos.*/
  height: 25vw; /*Define qué tan alta es la sección.*/
}

/* sexta sección */
.perfil__container{
    background-image: url(recursos/Fondo_azul_sushi\ \(1\).jpg);
    background-size: cover; /*Hace que la imagen cubra todo el área sin deformarse.*/
    background-position: center; /*Centra la imagen en el fondo.*/
    height: 50vw; /*Define qué tan alta es la sección.*/
    width: 100%; /*ocupa todo el ancho de la pantalla*/
    padding-top: 5vw; /*Deja espacio arriba de los elementos.*/
}
.perfil__elementos{
  width: 100%; /*Define qué tan anchos son los elementos.*/
  display: flex; /* Activar flexbox */
  flex-direction: column; /* Colocar los elementos en columna */
  justify-content: center; /* Centrar el contenedor */
  align-items: center;  /*Alinea los elementos al centro verticalmente.*/
  text-align: center; /* Centrar el texto de los elementos hijos */
   padding: 7vw 17vw;
}
.perfil__foto{
  width: 17vw; /*Define qué tan anchos son los elementos.*/
  height: 17vw; /*Define qué tan alta es la sección.*/
  border-radius: 50%; /*Redondea los bordes, creando círculos o esquinas suaves.*/
    margin-bottom: 3vw;
}
.perfil__parrafo{
 font-size: 2vw; /*Cambia el tamaño del texto.*/
 color: var(--blanco);  /*Cambia el color del texto.*/
  margin-bottom: 3vw;
 
}
.perfil__titulo{
  color: var(--blanco); /*Cambia el color del texto.*/
  font-size: 3vw; /*Cambia el tamaño del texto.*/
  font-weight: bold; /* Hace el texto más grueso.*/

}
/* septima sección */
.email__container{
  position: relative;
  background-color: var(--piel);
  width: 100%; /*ocupa todo el ancho de la pantalla*/
  height: 50vw; /*Define qué tan alta es la sección.*/
  padding: 7vw 17vw;
  /* display: flex; */
  text-align: center;
}
/* figuras */
.punt__azules{
  position: absolute;
  top: 6% ; 
  left: 6%; 
   width: 5vw;
  transform: rotate(90deg); 
}
.lineat__azul{
  position: absolute;
  top: 12%;
   /* width: 5vw; */
   right: 20%;
}
.cir__azul{
  position: absolute;
  top: 2%;
  right: 0%;
  width: 9vw;
}
.line__azul{
  position: absolute;
  top: 84%;
  left: 5%;
  width: 5vw;
}
.circul__azul{
  position: absolute;
  top: 73%;
  width: 12vw;
  left: 44%;
}
.pun__azules{
  position: absolute;
  top: 69%;
  right: 5%;
  width: 5vw;
}

.title__principal{
  color: var(--azul_ocuro);  /*Cambia el color del texto.*/
  font-size: 4vw; /*Cambia el tamaño del texto.*/
  margin-bottom: 2vw; /*Deja espacio debajo.*/
  padding-top: 4vw;
}
.parrafo__email{
   color: var(--azul_ocuro);  /*Cambia el color del texto.*/
  font-size: 1.6vw; /*Cambia el tamaño del texto.*/
  margin-bottom: 3vw; /*Deja espacio debajo.*/
  padding: 1vw;  /*Ajusta los espacios alrededor o dentro de los elementos.*/
}

/* input */

.email__content{
  display:flex;
  align-items: center;
  /* flex: 0 1 680px; factor de crecimiento */
  padding: 10vw;
  padding-top: 3vw;
}
.form__email{
  position: relative;
  width: 100%;
  display: flex; 
}
.input__email{
  height: 3vw;
  width: 36vw;
  background-color: var(--blanco);
  color: var(--gris_oscuro);
  padding: 2%;
  outline: none;
  border: 1vw solid rgba(255, 255, 255,0.1);
  border-radius:5vw ;
  font-size: 1.5vw;
}
.boton__email{
  position: absolute;
  width: 9vw;
  height: 3.7vw;
  background-color: var(--azul_ocuro);
  color: var(--blanco);
  outline: none;
  border: none;
  border-radius: 5vw;
  cursor: pointer;
  font-size: 1vw;
  font-weight: bold;
  right: 4vw;
  text-transform: uppercase;
}

/* octava sección */
.info__container{
  background-color: var(--blanco);
  width: 100%; /*ocupa todo el ancho de la pantalla*/
  height: 50vw; /*Define qué tan alta es la sección.*/
}