@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



:root{
  --azul_ocuro: #21243d;
  --piel:#ffd17e;
  --gris_oscuro:#111111;
  --blanco:#fff;
}

/* body */
.sushi{
  font-family: "Raleway", serif;/* fuente para la letra */
    /* font-family: "Work Sans", sans-serif; */
}
/* header */
.encabezado{
 background-color: var(--azul_ocuro);  /*Cambia el color de fondo.*/
 width: 100%; /* Hace que el encabezado ocupe todo el ancho de la pantalla.*/
 display: flex; /*Organiza los elementos en fila..*/
 justify-content: space-between; /*Coloca los elementos en los extremos del contenedor.*/
 align-items: center; /*Alinea los elementos al centro verticalmente.*/
 padding: 0 4vw ; /*Agrega espacio interno en los lados.*/
}

.encabezado__logo{
   height: 4.2vw; /*Define qué tan alta es la sección.*/
   padding: -1.6vw;   /*Ajusta los espacios alrededor o dentro de los elementos.*/
}
.encabezadomedio{
  gap:4vw; /* Deja espacio entre elementos.*/
  display: flex; /*Organiza los elementos dentro del botón de forma ordenada.*/
}
.encabezadomedio__items{
  text-decoration: none; /*Quita subrayados en el texto.*/
  color: var(--blanco); /*Cambia el color del texto.*/
  font-size: 1.3vw; /*Cambia el tamaño del texto.*/
}
.encabezadoderecha__search{
  color: var(--blanco);  /*Cambia el color del texto.*/
  font-size: 1.9vw; /*Cambia el tamaño del texto.*/
}
/* primera seccion */
.presentacion{
    background-image: url(recursos/Imagen_de_fondo_sushi\ \(1\).jpeg);
    background-size: cover; /*Hace que la imagen cubra todo el área sin deformarse.*/
     background-position: center;/*Centra la imagen en el fondo.*/
    height: 50vw; /*Define qué tan alta es la sección.*/
    width: 100%; /* Hace que ocupe todo el ancho de la pantalla.*/
    padding-top: 5vw; /*Deja espacio arriba de los elementos.*/
}
.presentacion__texto{
  width: 50vw; /*Define qué tan anchos son los elementos.*/
  padding: 0 2vw;  /*Ajusta los espacios alrededor o dentro de los elementos.*/
}
.presentacion__titulo{
  color: var(--blanco); /*Cambia el color del texto.*/
  font-size: 8vw; /*Cambia el tamaño del texto.*/
  margin-bottom: -2vw; /*Deja espacio debajo.*/
  padding: 4vw; /*Ajusta los espacios alrededor o dentro de los elementos.*/
}
.presentacion__parrafo{
  color: var(--blanco);  /*Cambia el color del texto.*/
  font-size: 1.5vw; /*Cambia el tamaño del texto.*/
  margin-bottom: 3vw; /*Deja espacio debajo.*/
  padding: 2vw;  /*Ajusta los espacios alrededor o dentro de los elementos.*/
}

.boton__texto{
    display: flex; /*Organiza los elementos en fila..*/
    background-color: var(--azul_ocuro); /*Cambia el color de fondo.*/
    font-size: 1.3vw; /*Cambia el tamaño del texto.*/
    color: var(--blanco);  /*Cambia el color del texto.*/
    height: 3vw; /*Define qué tan alta es la sección.*/
    border-radius: 8vw; /*Redondea los bordes, creando círculos o esquinas suaves.*/
    width: 17vw; /*Define qué tan anchos son los elementos.*/
    align-items: center;  /*Alinea los elementos al centro verticalmente.*/
    justify-content: center; /* Centrar el contenedor */
    text-transform: uppercase;  /*transforma el texto en mayúsculas*/
    text-align: center; /* Centrar el texto de los elementos hijos */
    font-weight: bold; /* Hace el texto más grueso.*/
    margin: 3vw; /*Ajusta los espacios alrededor o dentro de los elementos.*/
}
/* segunda seccion */
.menu{
  position: relative;
  background-color: var(--azul_ocuro); /*Cambia el color de fondo.*/
  width: 100%; /*ocupa todo el ancho de la pantalla*/
  height: 50vw; /*Define qué tan alta es la sección.*/
  align-items: center;  /*Alinea los elementos al centro verticalmente.*/
}


/* figuras */
.menu__circulos{
   position: absolute;
   top: 2%; /*Mueve el elemento hacia abajo desde su posición original*/
   left: 20%; /*Mueve el elemento hacia la izquierda desde su posición original*/
  width: 10vw; /*Define qué tan anchos son los elementos.*/
   
}
.menu__triangulo{
   position: absolute;
   top: 18%; /*Mueve el elemento hacia abajo desde su posición original*/
   left: 5%; /*Mueve el elemento hacia la izquierda desde su posición original*/
   width: 5vw; /*Define qué tan anchos son los elementos.*/
}
.menu__circulo{
  position: absolute;
  top: 70%; /*Mueve el elemento hacia abajo desde su posición original*/
  left: -4%; /*Mueve el elemento hacia la izquierda desde su posición original*/
  width: 10vw; /*Define qué tan anchos son los elementos.*/
}
.menu__cir{
  position: absolute;
  top: 1%; /*Mueve el elemento hacia abajo desde su posición original*/
  left: 91%; /*Mueve el elemento hacia la izquierda desde su posición original*/
  width: 8vw; /*Define qué tan anchos son los elementos.*/

}
.menu__puntitos{
  position: absolute;
  top: 50%; /*Mueve el elemento hacia abajo desde su posición original*/
  right: -3%; /*Mueve el elemento hacia la derecha desde su posición original*/
  transform: rotate(90deg);
  width: 10vw; /*Define qué tan anchos son los elementos.*/
}
.menu__tri{
  position: absolute;
  top: 90%; /*Mueve el elemento hacia abajo desde su posición original*/
  right: 0%;/*Mueve el elemento hacia la derecha desde su posición original*/
  width: 5vw; /*Define qué tan anchos son los elementos.*/
}

.menutexto{
 text-align: center; /* Centrar el texto de los elementos hijos */
  padding: 0 6vw;  /*Ajusta los espacios alrededor o dentro de los elementos.*/
  margin-bottom: 2vw; /*Deja espacio debajo.*/
  padding-top: 3vw; /*Deja espacio arriba de los elementos.*/
 
}

.menutexto__titulo{
  color: var(--blanco);  /*Cambia el color del texto.*/
  font-size: 4vw; /*Cambia el tamaño del texto.*/
  margin-bottom: 2vw; /*Deja espacio debajo.*/
  padding: 0 10vw;  /*Ajusta los espacios alrededor o dentro de los elementos.*/
}

.menutexto__parrafo{
  color: var(--blanco);  /*Cambia el color del texto.*/
  margin-bottom: 5vw; /*Deja espacio debajo.*/
  font-size: 1.5vw; /*Cambia el tamaño del texto.*/
  padding: 0 14vw;  /*Ajusta los espacios alrededor o dentro de los elementos.*/
}

/* contenedor principal */
.cards{
  display: flex; /* Activa flexbox */
  justify-content: center; /* Centra las cartas horizontalmente */
}
.cardscontent {
  width: 25%; /*ocupa el ancho de la pantalla*/
}

.cardscontent__menu {
  display: flex; /* Activar flexbox */
  flex-direction: column; /* Colocar los elementos en columna */
  align-items: center; /* Centrar horizontalmente */
  justify-content: center; /* Centrar verticalmente (si es necesario) */
  text-align: center; /* Centrar el texto de los elementos hijos */
}

.cardscontent__foto {
  border-radius: 50%; /*Redondea los bordes, creando círculos o esquinas suaves.*/
  width: 18vw; /*Define qué tan anchos son los elementos.*/
  padding: 2vw; /*Ajusta los espacios alrededor o dentro de los elementos.*/
}

.cardscontent__titulo {
  color: var(--blanco);  /*Cambia el color del texto.*/
  margin-bottom: 2vw; /*Deja espacio debajo.*/
  padding: 0 2vw;  /*Ajusta los espacios alrededor o dentro de los elementos.*/
   font-size: 2vw; /*ajusta el tamaño de la fuente */
}

.cardscontent__parrafo {
  color: var(--blanco);  /*Cambia el color del texto.*/
  padding: 0 2vw;  /*Ajusta los espacios alrededor o dentro de los elementos.*/
  font-size: 1vw; /*ajusta el tamaño de la fuente */
}
/* tercera sección */

.promocioncontainer{
   position: relative;/* posición relativa */
  background-color: var(--piel); /*Cambia el color de fondo.*/
  width: 100%; /*ocupa todo el ancho de la pantalla*/
  height: 50vw; /*Define qué tan alta es la sección.*/
  padding-top: 10vw; /*Deja espacio arriba de los elementos.*/
  display: flex; /* Activar flexbox */
  justify-content: center; /* Centrar el contenedor */
}
/* figuras */
.promocioncontainer__circulo{
  position: absolute; /* posición absoluta */
  top: 11%; /*Mueve el elemento hacia abajo desde su posición original*/
  width: 12vw; /*Define qué tan anchos son los elementos.*/
  left: 10%; /*Mueve el elemento hacia la izquierda desde su posición original*/

}
.promocioncontent__puntos{
  position: absolute; /* posición absoluta */
  top: 73%; /*Mueve el elemento hacia abajo desde su posición original*/
  left: 2%; /*Mueve el elemento hacia la izquierda desde su posición original*/
  width: 5vw; /*Define qué tan anchos son los elementos.*/
}
.promocioncontent__puntitos{
  position: absolute; /* posición absoluta */
  top: 2%; /*Mueve el elemento hacia abajo desde su posición original*/
  right: 2%; /*Mueve el elemento hacia la derecha desde su posición original*/
  width: 5vw; /*Define qué tan anchos son los elementos.*/
}
.promocioncontent__triangulo{
  position: absolute; /* posición absoluta */
  top: 10%; /*Mueve el elemento hacia abajo desde su posición original*/
  right: 42%; /*Mueve el elemento hacia la derecha desde su posición original*/
  width: 5vw; /*Define qué tan anchos son los elementos.*/
}
.promocioncontainer__esfera{
  position: absolute; /* posición absoluta */
  top: 70%; /*Mueve el elemento hacia abajo desde su posición original*/
  right: 0%; /*Mueve el elemento hacia la derecha desde su posición original*/
  width: 9vw; /*Define qué tan anchos son los elementos.*/
}
.promocioncontent{
  padding: 0 12vw;  /*Ajusta los espacios alrededor o dentro de los elementos.*/
}
.promocioncontent__foto{
  position: relative; /* posición relativa */
  border-radius: 50%; /*Redondea los bordes, creando círculos o esquinas suaves.*/
  width: 25vw; /*Define qué tan anchos son los elementos.*/
  height: 25vw; /*Define qué tan alta es la sección.*/
}

.promo__texto{
  width: 47vw; /*Define qué tan anchos son los elementos.*/
}
.promo__titulo--azul{
  color: var(--azul_ocuro);  /*Cambia el color del texto.*/
  font-size: 4vw; /*Cambia el tamaño del texto.*/
  margin-bottom: 2vw; /*Deja espacio debajo.*/

}
.promo__parrafo--azul{
  color: var(--azul_ocuro);  /*Cambia el color del texto.*/
  font-size: 1.6vw; /*Cambia el tamaño del texto.*/
  margin-bottom: 3vw; /*Deja espacio debajo.*/
  padding: 1vw;  /*Ajusta los espacios alrededor o dentro de los elementos.*/
}

.promo__boton{
    display: flex; /*Organiza los elementos en fila..*/
    background-color: var(--azul_ocuro); /*Cambia el color de fondo.*/
    font-size: 1.3vw; /*Cambia el tamaño del texto.*/
    color: var(--blanco);  /*Cambia el color del texto.*/
    height: 3vw; /*Define qué tan alta es la sección.*/
    border-radius: 8vw; /*Redondea los bordes, creando círculos o esquinas suaves.*/
    width: 17vw; /*Define qué tan anchos son los elementos.*/
    align-items: center;  /*Alinea los elementos al centro verticalmente.*/
    justify-content: center; /* Centrar el contenedor */
    text-transform: uppercase;  /*transforma el texto en mayúsculas*/
    text-align: center; /* Centrar el texto de los elementos hijos */
    font-weight: bold; /* Hace el texto más grueso.*/
}

/* cuarta sección  */
.estadisticas{
  position: relative; /* posición relativa */
  background-color: var(--azul_ocuro); /*Cambia el color de fondo.*/
  width: 100%;/*ocupa todo el ancho de la pantalla*/
  height: 50vw; /*Define qué tan alta es la sección.*/
  align-items: center;  /*Alinea los elementos al centro verticalmente.*/
}
.estadisticas__puntos{
  position: absolute; /* posición absoluta */
  top: 7%; /*Mueve el elemento hacia abajo desde su posición original*/
  left: 5%; /*Mueve el elemento hacia la izquierda desde su posición original*/
  width: 10vw; /*Define qué tan anchos son los elementos.*/
}
.estadisticas__trian{
  position: absolute; /* posición absoluta */
  top: 30%; /*Mueve el elemento hacia abajo desde su posición original*/
  left: 6%; /*Mueve el elemento hacia la izquierda desde su posición original*/
  width: 5vw; /*Define qué tan anchos son los elementos.*/
}
.estadisticas__circle{
  position: absolute; /* posición absoluta */
  top: 87%; /*Mueve el elemento hacia abajo desde su posición original*/
  left: 25%; /*Mueve el elemento hacia la izquierda desde su posición original*/
   width: 10vw; /*Define qué tan anchos son los elementos.*/
}
.estadisticas__points{
  position: absolute; /* posición absoluta */
  top: 85%; /*Mueve el elemento hacia abajo desde su posición original*/
  left: 60%; /*Mueve el elemento hacia la izquierda desde su posición original*/
  width: 10vw; /*Define qué tan anchos son los elementos.*/
}
.estadisticas__triangu{
  position: absolute; /* posición absoluta */
  top: 83%; /*Mueve el elemento hacia abajo desde su posición original*/
  left: 90%; /*Mueve el elemento hacia la izquierda desde su posición original*/
  width: 5vw; /*Define qué tan anchos son los elementos.*/
}
.estadisticas__circu{
  position: absolute; /* posición absoluta */
  top: 9%; /*Mueve el elemento hacia abajo desde su posición original*/
  left: 85%;/*Mueve el elemento hacia la izquierda desde su posición original*/
  width: 10vw; /*Define qué tan anchos son los elementos.*/
}
.estadisticas__texto{
 text-align: center; /* Centrar el texto de los elementos hijos */
  padding: 0 6vw;  /*Ajusta los espacios alrededor o dentro de los elementos.*/
  margin-bottom: 1vw; /*Deja espacio debajo.*/
  padding-top: 4vw; /*Deja espacio arriba de los elementos.*/
}

.estadisticas__titulo{
  color: var(--blanco);  /*Cambia el color del texto.*/
  font-size: 4vw; /*Cambia el tamaño del texto.*/
  font-weight: bold; /* Hace el texto más grueso.*/
  margin-bottom: 2vw; /*Deja espacio debajo.*/
  padding: 0 10vw;  /*Ajusta los espacios alrededor o dentro de los elementos.*/
  
}

.estadisticas__parrafo{
  color: var(--blanco);  /*Cambia el color del texto.*/
  margin-bottom: 5vw; /*Deja espacio debajo.*/
  font-size: 1.5vw; /*Cambia el tamaño del texto.*/
  padding: 0 14vw;  /*Ajusta los espacios alrededor o dentro de los elementos.*/
}

/* tarjetas */
.tarjetas{
 background-color: var(--azul_ocuro); /*Cambia el color de fondo.*/
   width: 78vw; /*ocupa el ancho de la pantalla*/
  height: 30vw; /*Define qué tan alta es la sección.*/
  display: flex; /* Activar flexbox */
  justify-content: center; /* Centrar el contenedor */
  align-items: center; /*Alinea los elementos al centro verticalmente.*/
  text-align: center; /* Centrar el texto de los elementos hijos */
  gap: 11vw; /*Deja espacio entre las tarjetas.*/
  margin-left: 10vw; /* espacio a la izquierda.*/
  margin-top: -5vw;  /*Deja espacio arriba.*/
 
}
.tarjeta{
  background-color: var(--azul_ocuro); /*Cambia el color de fondo.*/
  width: 17vw; /*ocupa el ancho de la pantalla*/
  height: 17vw; /*Define qué tan alta es la sección.*/
  border: 4px solid var(--blanco); /*Agrega un borde alrededor de las tarjetas.*/
  border-radius: 50%; /*Redondea los bordes, creando círculos o esquinas suaves.*/
  text-transform: uppercase; /*transforma el texto en mayúsculas*/
}
.tarjeta__number{
  font-size: 5vw; /*Cambia el tamaño del texto.*/
  font-weight: bold; /* Hace el texto más grueso.*/
  margin: 0;  /*Ajusta los espacios alrededor o dentro de los elementos.*/
  color: var(--blanco);  /*Cambia el color del texto.*/
  padding-top: 3.5vw ; /*Deja espacio arriba de los elementos.*/
}
.tarjeta__texto{
  font-size: 3vw; /*Cambia el tamaño del texto.*/
  margin: 0;  /*Ajusta los espacios alrededor o dentro de los elementos.*/
  color: var(--blanco);  /*Cambia el color del texto.*/
}

/* quinta sección (componente) */
.promotion{
  position: relative; /* posición relativa */
  background-color: var(--piel); /*Cambia el color de fondo.*/
  width: 100%; /*ocupa todo el ancho de la pantalla*/
  height: 50vw; /*Define qué tan alta es la sección.*/
  padding-top: 10vw; /*Deja espacio arriba de los elementos.*/
  display: flex; /* Activar flexbox */
  justify-content: center; /* Centrar el contenedor */
  gap: 7vw; /* Deja espacio entre elementos.*/
}
/* figuras */
.promotion__tri{
  position: absolute; /* posición absoluta */
  top: 11%; /*Mueve el elemento hacia abajo desde su posición original*/
  left: 10%;/*Mueve el elemento hacia la izquierda desde su posición original*/
  width: 5vw; /*Define qué tan anchos son los elementos.*/

}
.promotion__points{
  position: absolute; /* posición absoluta */
  top: 0% ; /*Mueve el elemento hacia arriba desde su posición original*/
  right: 56%; /*Mueve el elemento hacia la derecha de su posición original*/
  width: 5vw; /*Define qué tan anchos son los elementos.*/
  transform: rotate(90deg); 
}
.promotion__circle{
  position: absolute; /* posición absoluta */
  top: 10%; /*Mueve el elemento hacia abajo desde su posición original*/
  right: 5%; /*Mueve el elemento hacia la derecha desde su posición original*/
  width: 12vw; /*Define qué tan anchos son los elementos.*/
}
.promotion__punti{
  position: absolute; /* posición absoluta */
  top: 63% ; /*Mueve el elemento hacia abajo desde su posición original*/
  right: 3%;/*Mueve el elemento hacia la derecha desde su posición original*/
  width: 5vw; /*Define qué tan anchos son los elementos.*/
}
.promotion__esfera{
  position: absolute; /* posición absoluta */
  top: 68%; /*Mueve el elemento hacia abajo desde su posición original*/
  left: 35%;/*Mueve el elemento hacia la izquierda desde su posición original*/
  width: 12vw; /*Define qué tan anchos son los elementos.*/

}

.prom__texto{
  width: 47vw; /*Define qué tan anchos son los elementos.*/
}
.prom__titulo--azul{
  color: var(--azul_ocuro);  /*Cambia el color del texto.*/
  font-size: 4vw; /*Cambia el tamaño del texto.*/
  margin-bottom: 2vw; /*Deja espacio debajo.*/

}
.prom__parrafo--azul{
  color: var(--azul_ocuro);  /*Cambia el color del texto.*/
  font-size: 1.6vw; /*Cambia el tamaño del texto.*/
  margin-bottom: 3vw; /*Deja espacio debajo.*/
  padding: 1vw;  /*Ajusta los espacios alrededor o dentro de los elementos.*/
}

.prom__boton{
    display: flex; /*Organiza los elementos en fila..*/
    background-color: var(--azul_ocuro); /*Cambia el color de fondo.*/
    font-size: 1.3vw; /*Cambia el tamaño del texto.*/
    color: var(--blanco);  /*Cambia el color del texto.*/
    height: 3vw; /*Define qué tan alta es la sección.*/
    border-radius: 8vw; /*Redondea los bordes, creando círculos o esquinas suaves.*/
    width: 17vw; /*Define qué tan anchos son los elementos.*/
    align-items: center;  /*Alinea los elementos al centro verticalmente.*/
    justify-content: center; /* Centrar el contenedor */
    text-transform: uppercase;  /*transforma el texto en mayúsculas*/
    text-align: center; /* Centrar el texto de los elementos hijos */
    font-weight: bold; /* Hace el texto más grueso.*/
}
.prom{
  padding: -1 12vw;  /*Ajusta los espacios alrededor o dentro de los elementos.*/
}
.promotion__foto{
  position: relative; /* posición relativa */
  border-radius: 50%; /*Redondea los bordes, creando círculos o esquinas suaves.*/
  width: 25vw; /*Define qué tan anchos son los elementos.*/
  height: 25vw; /*Define qué tan alta es la sección.*/
}

/* sexta sección */
.perfil{
    background-image: url(recursos/Fondo_azul_sushi\ \(1\).jpg);
    background-size: cover; /*Hace que la imagen cubra todo el área sin deformarse.*/
    background-position: center; /*Centra la imagen en el fondo.*/
    height: 50vw; /*Define qué tan alta es la sección.*/
    width: 100%; /*ocupa todo el ancho de la pantalla*/
    padding-top: 5vw; /*Deja espacio arriba de los elementos.*/
}
.perfil__elementos{
  width: 100%; /*Define qué tan anchos son los elementos.*/
  display: flex; /* Activar flexbox */
  flex-direction: column; /* Colocar los elementos en columna */
  justify-content: center; /* Centrar el contenedor */
  align-items: center;  /*Alinea los elementos al centro verticalmente.*/
  text-align: center; /* Centrar el texto de los elementos hijos */
   padding: 7vw 17vw; /*Ajusta los espacios alrededor o dentro de los elementos.*/
}
.perfil__foto{
  width: 17vw; /*Define qué tan anchos son los elementos.*/
  height: 17vw; /*Define qué tan alta es la sección.*/
  border-radius: 50%; /*Redondea los bordes, creando círculos o esquinas suaves.*/
  margin-bottom: 3vw; /*deja un espacio debajo*/
}
.perfil__parrafo{
 font-size: 2vw; /*Cambia el tamaño del texto.*/
 color: var(--blanco);  /*Cambia el color del texto.*/
  margin-bottom: 3vw; /*deja un espacio debajo*/
 
}
.perfil__titulo{
  color: var(--blanco); /*Cambia el color del texto.*/
  font-size: 3vw; /*Cambia el tamaño del texto.*/
  font-weight: bold; /* Hace el texto más grueso.*/

}
/* septima sección */
.email{
  position: relative;/*posición relativa*/
  background-color: var(--piel);
  width: 100%; /*ocupa todo el ancho de la pantalla*/
  height: 50vw; /*Define qué tan alta es la sección.*/
  padding: 7vw 17vw; /*Ajusta los espacios alrededor o dentro de los elementos.*/
  text-align: center; /*centra el texto*/
}
/* figuras */
.email__punt{
  position: absolute;/*posición absoluta.*/
  top: 6% ; /*Mueve el elemento hacia abajo desde su posición original*/
  left: 6%; /*Mueve el elemento hacia la izquierda desde su posición original*/
  width: 5vw; /*Define qué tan anchos son los elementos.*/
  transform: rotate(90deg); 
}
.email__lineat{
  position: absolute;/*posición absoluta.*/
  top: 12%; /*Mueve el elemento hacia abajo desde su posición original*/
  width: 5vw; /*Define qué tan anchos son los elementos.*/
  right: 20%;/*Mueve el elemento hacia la derecha desde su posición original*/
}
.email__cir{
  position: absolute; /*posición absoluta.*/
  top: 2%; /*Mueve el elemento hacia abajo desde su posición original*/
  right: 0%;/*Mueve el elemento hacia la derecha desde su posición original*/
  width: 9vw; /*Define qué tan anchos son los elementos.*/
}
.email__line{
  position: absolute; /*posición absoluta.*/
  top: 84%; /*Mueve el elemento hacia abajo desde su posición original*/
  left: 5%; /*Mueve el elemento hacia la izquierda desde su posición original*/
  width: 5vw; /*Define qué tan anchos son los elementos.*/
}
.email__circul{
  position: absolute; /*posición absoluta.*/
  top: 73%; /*Mueve el elemento hacia abajo desde su posición original*/
  width: 12vw; /*Define qué tan anchos son los elementos.*/
  left: 44%; /* Mueve el elemento hacia la derecha desde su posición original */
}
.email__pun{
  position: absolute; /*posición absoluta.*/
  top: 69%; /*Mueve el elemento hacia abajo desde su posición original*/
  right: 5%; /*Mueve el elemento hacia la derecha desde su posición original*/
  width: 5vw; /*Define qué tan anchos son los elementos.*/
}

.emailtitle{
  color: var(--azul_ocuro);  /*Cambia el color del texto.*/
  font-size: 4vw; /*Cambia el tamaño del texto.*/
  margin-bottom: 2vw; /*Deja espacio debajo.*/
  padding-top: 4vw; /*Deja espacio arriba de los elementos.*/
}
.emailtitle__parrafo{
   color: var(--azul_ocuro);  /*Cambia el color del texto.*/
  font-size: 1.6vw; /*Cambia el tamaño del texto.*/
  margin-bottom: 3vw; /*Deja espacio debajo.*/
  padding: 1vw;  /*Ajusta los espacios alrededor o dentro de los elementos.*/
}

/* input */

.emailcon{
  display:flex; /*Activar Flexbox.*/
  align-items: center; /*alinea los items hacia el centro.*/
  padding: 10vw; /*Ajusta los espacios alrededor o dentro de los elementos.*/
  padding-top: 3vw;/*Deja espacio arriba de los elementos.*/
}
.emailcon__form{
  position: relative;/*posición relativa.*/
  width: 100%; /*ocupa todo el ancho de la pantalla*/
  display: flex; /*Activar Flexbox.*/
}
.emailcon__input{
  height: 3vw; /*Define qué tan alta es la sección.*/
  width: 36vw; /*Define qué tan anchos son los elementos.*/
  background-color: var(--blanco); /*le asigna color al fondo.*/
  color: var(--gris_oscuro); /*le asigna color a la fuente.*/
  padding: 2%; /*Ajusta los espacios alrededor o dentro de los elementos.*/
  outline: none; /* Elimina el contorno al seleccionar */
  border: 1vw solid rgba(255, 255, 255,0.1);
  border-radius:5vw ; /*asigna bordes redondos*/
  font-size: 1.5vw;/*tamaño para la fuente.*/
}
.emailcon__boton{
  position: absolute;
  width: 9vw; /*Define qué tan anchos son los elementos.*/
  height: 3.7vw; /*Define qué tan alta es la sección.*/
  background-color: var(--azul_ocuro); /*le asigna color al fondo.*/
  color: var(--blanco);/*le asigna color a la fuente.*/
  outline: none; /* Elimina el contorno al seleccionar */
  border: none; /*sin borde.*/
  border-radius: 5vw;  /*asigna bordes redondos*/
  cursor: pointer; /*cuando se pone el cursor aparece la manita de click*/
  font-size: 1vw; /*tamaño para la fuente.*/
  font-weight: bold; /*asigna a la fuente un tamaño grueso.*/
  right: 4vw; /*Mueve el elemento hacia la derecha desde su posición original*/
  text-transform: uppercase; /*trnasforma el texto en mayúsculas.*/
}

/* octava sección */
.infocon{
  background-color: var(--gris_oscuro); /*le asigna color al fondo.*/
  color: var(--blanco); /*le asigna color a la fuente.*/
  width: 100%; /*ocupa todo el ancho de la pantalla*/
  height: 50vw; /*Define qué tan alta es la sección.*/
  display: grid; /* Activa grid*/
  grid-template-columns: 2fr 1fr 1fr 1fr;; /* 4 columnas */
  padding-top: 15vw; /*espacio hacia arriba.*/
  gap: 10vw; /* Deja espacio entre elementos.*/
  font-size: 1.5vw; /*tamaño para la fuente.*/
  padding-left: 4vw; /*espacio a la izquierda.*/
  padding-right: 4vw; /*espacio a la derecha.*/
}
.infocon__titulo{
  margin-bottom: 2vw; /*Deja espacio debajo.*/ 
}
.infocon__parrafo{
   margin-bottom: 2vw; /*Deja espacio debajo.*/ 
}
.info__texto{
   margin-bottom: 2vw; /*Deja espacio debajo.*/
}
.info__items{
  margin-bottom: 1vw; /*Deja espacio debajo.*/
   list-style: none; /*quita los estilos de la lista del texto*/
   font-size: 1.5vw; /*tamaño para la fuente.*/
}
.infoiconos__re{
  gap: 1vw; /* Deja espacio entre elementos.*/
  width: 3vw; /*Define qué tan anchos son los elementos.*/
}

/* ------------------------------media query------------------------------------ */

/* primera sección */
@media(max-width: 800px ){
.promotion,.promocioncontainer,.presentacion,.perfil,.email,.infocon{
    width: 100%;
    height: 100vw;
    
  }
  .encabezadomedio{
    display: none;
  }
 
  .presentacion__texto{
    padding-top: 13vw;
    margin-left: 27vw;
    text-align: center;
  }
  .presentacion__parrafo{
    font-size: 4.2vw; 
    padding: 2vw;
  }
  .boton__texto,.promo__boton,.prom__boton{
    width: 34vw;
    height: 6vw;
    font-size: 2vw;
  }
  .encabezado{
   height: 10vw;
  }
  .encabezado__logo{
    width: 29vw;
    height: 11vw;
    
  }
  .encabezadoderecha__search{
    font-size: 6vw;
  }
  .cards,.promocioncontainer,.tarjetas,.promotion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

  }

}

/* segunda sección */
@media(max-width: 800px){
  .promotion__esfera{
    display: none;
  }

  .prom{
    display: flex;
    align-items: center;
  }
  .menutexto{
    padding-top: 14vw;
  }

  .menutexto__titulo,.prom__titulo--azul,.estadisticas__titulo,.prom__titulo--azul,.perfil__titulo,.emailtitle,.infocon__titulo,.info__texto{
    font-size: 5vw;
  }
  .menutexto__parrafo,.promo__parrafo--azul,.estadisticas__parrafo,.prom__parrafo--azul,.perfil__parrafo,.emailtitle__parrafo,.infocon__parrafo,.info__items{
    font-size: 3vw;
  }
  .cardscontent__foto{
    width: 29vw;
  }
  .cardscontent__titulo{
    font-size: 5vw;
  }
  .cardscontent__parrafo{
    font-size: 3vw;
    padding-bottom: 5vw;
  }
  .menu,.estadisticas,.infocon{
    width: 100%;
    height: 200vw;
  }
  .cardscontent__menu{
    width: 83vw;
    margin-left: -28vw;
  }
}

/* tercera sección */
@media (max-width: 800px){
  .promocioncontent{
    margin-bottom: 8vw;
  }
  .promocioncontent__foto,.promotion__foto{
    width: 29vw;
  }
  .promo__boton{
    margin-left: 6vw;
  }
}

/* cuarta sección */
@media (max-width: 800px){

  .estadisticas__texto {
    padding-bottom: 48vw;
    padding-top: 20vw;
  }
  .tarjeta__number{
    text-align: center;
    font-size: 7vw;
    
    
  }
  .tarjeta__texto{
    text-align: center;
    padding-bottom: 5vw;
    font-size: 5vw;
  }
  .tarjeta{
    width: 23vw;
    height: 24vw;
  }

}

/* quinta sección */
@media (max-width: 800px){
  .prom__boton{
    margin-left: 6vw;
  }
}

/* sexta sección */
@media (max-width: 800px){
  .perfil{
    padding-top: 18vw;
  }
  .perfil__foto{
    width: 28vw;
    height: 28vw;
  
  }
}

/* septima sección */
@media (max-width: 800px){
  .email{
    padding-top: 24vw;
  }
  .emailcon__input{
    width: 37vw;
    height: 6vw;
    font-size: 3vw;
  }
  .emailcon__boton{
    width: 11vw;
    height: 6vw;
    font-size: 1.4vw;
  }
}

/* octava sección */
@media (max-width: 800px){
  .infocon {
    grid-template-columns: 1fr; /* Una columna */
    grid-template-areas:
      "title"
      "about"
      "services"
      "other"; /* Reordena los elementos */
    height: auto; /* Ajusta la altura automáticamente */
    text-align: center;
    padding-top: 5vw;
    padding-bottom: 5vw;
    
  }
  .infoiconos__re{
    width: 5vw;
  }
}